.customer {
  height: auto;
  overflow: hidden;
}
.background {
  min-height: 100vh;
  min-width: 100%;
  padding: 100px;
  background-color: rgb(244, 243, 243);
}
.customer img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: all 0.3s ease;
}
.title {
  font-size: 16px;
  text-align: center;
  font-weight: bold;
}

.customer img:hover {
  transform: scale(1.3);
}
