.root {
  background-color: #fff;
  padding-bottom: 30px;
}

.aboutContainer {
  padding-top: 4.5rem !important;
}

.about2Container {
  padding-top: 0 !important;
}

.row1Wrapper {
  margin-bottom: -1rem !important;
}

