.root {
  background-image: url(/img/map-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #363940;

  position: relative;
  color: #ffffff !important;
  padding: 110px 50px;
  min-height: 85vh;
}

.cover {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(5, 8, 11, 0.93);
  padding: 20px;
}

.contentWrap {
  position: relative;
  z-index: 10;
}

.btn {
  display: block;
  width: 100%;
  background-color: #363940;
  color: #ffffff;
  padding: 0.7em;
  border: 1px solid #363940;
  font-size: 14px;
}

.btn:hover {
  background-color: #26292e;
}

.formTitle {
  font-size: 24px;
}

.content {
  margin-top: 40px;
}

.alertWrapper {
  /* display: none; */
  position: fixed;
  top: 100px;
  left: 0;
  right: 0;
  width: 100%;
  /* height: 200px; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* z-index: 12; */
}

.alert {
  /* display: none; */
  /* width: 400px; */
  width: 200px;
  font-size: 1rem;
  z-index: 20;
  position: fixed;
  left: 20px;
  bottom: 20px;
}

