.team_wrapper {
    padding         : 65px 0 30px;
    background-color: #fff;
}

.section_subtitle {
    color         : #aaaaaa;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight   : 700;
    font-size     : 14px;
    font-family   : "Raleway", Helvetica, Arial, sans-serif;
}

.section_title {
    font-weight   : 750;
    text-transform: uppercase;
    font-family   : "Raleway", Helvetica, Arial, sans-serif;
    font-size     : 40px;
    letter-spacing: 3.5px;
    color         : #333;
    margin-bottom : 2.5rem;
}

.section_desc {
    font-size     : 19px;
    font-family   : "Open Sans", Helvetica, Arial, sans-serif;
    color         : #777;
    letter-spacing: 1.5px;
}

.team-member {
    box-sizing: inherit;
}

.member_icon_wrapper img {
    max-width: 100%;
    height   : auto;
    margin   : 10px 0 20px;
}

.member_name {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size     : 13px;
    font-weight   : 700;
    font-family   : "Raleway", Helvetica, Arial, sans-serif;
    color         : #333333;
}

.member_position {
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-size     : 10px;
    line-height   : 1.7;
    font-family   : "Open Sans", Helvetica, Arial, sans-serif;
    color         : #777777;
}