.rootWrapper {
  background-color:rgb(255, 255, 255);
  min-height: 80vh;
  padding-bottom: 90px;
  padding-top: 50px;
}
.desc {
  color: #000000;
}
.title {
  font-size: 16px;
  text-align: center;
  font-weight: bold;
}

.techListTitle {
  text-align: center;
  color     : #000000;
}