.customers_wrapper {
    padding         : 65px 0 30px;
    background-color: #fff;
}

.section_subtitle {
    color         : #aaaaaa;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight   : 700;
    font-size     : 14px;
    font-family   : "Raleway", Helvetica, Arial, sans-serif;
}

.section_title {
    font-weight   : 750;
    text-transform: uppercase;
    font-family   : "Raleway", Helvetica, Arial, sans-serif;
    font-size     : 40px;
    letter-spacing: 3.5px;
    color         : #333;
}

.section_desc {
    font-size     : 19px;
    font-family   : "Open Sans", Helvetica, Arial, sans-serif;
    color         : #777;
    letter-spacing: 1.5px;
}

.customer {
    margin-top      : 20px;
    background-color: transparent;
    height          : auto;
    transition      : transform 0.3s ease;
}

.customer:hover {
    transform: scale(1.5);
}

.customer_icon_wrapper img {
    max-width: 100%;
    height   : auto;
}