.h1 {
    margin-bottom: 36px;
    text-align   : center;
    font-size    : 2.5rem;
}

.post_item {
    border       : 1px solid #ddd;
    padding      : 20px;
    border-radius: 8px;
    text-align   : center;
    margin-bottom: 20px;
}

.post_item img {
    max-width    : 50%;
    height       : auto;
    border-radius: 8px;
}

.post_item h2 {
    font-size    : 24px;
    margin-bottom: 10px;
}