.sectionTitle {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 2px;
}

.sectionSubtitle {
  color: #aaaaaa;
  display: inline-block;
  position: relative;
  margin-bottom: 13px;
  margin-bottom: 0.8125em;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
}

.requireLabel {
  color: #ff0000;
  font-weight: 400;
}

.root {
  overflow: hidden;
  background-color: #f8f9f9;
  padding: 4.375em 0em;
  font-size: 0.875em;
}

.root h1,
.root h2,
.root h3,
.root h4,
.root h5,
.root h6 {
  color: #333333;
  word-break: break-word;
  word-wrap: break-word;
  margin-bottom: 0.9375em;
}

.root h3 {
  font-size: 1.25em;
  font-weight: 600;
}

.formWrapper {
  margin: 24px auto;
}

.formField {
  padding: 10px;
  max-width: 100%;
  border: 0px;
  font-size: 15px;
  font-weight: normal;
  line-height: 22px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  background-color: #f2f2f2;
  border-bottom: 1px solid #fff;
  box-sizing: border-box;
  color: #000000;
  border-bottom: 1px solid #fff;
  height: 38px;
}

textarea.formField {
  min-height: 215px;
  resize: none;
}

.formField:hover {
  border: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  border-color: #ebebeb;
  border-bottom: 1px solid #fff !important;
  background: #e9e9e9;
}

.submitButton {
  cursor: pointer;
  background: #03c4eb;
  border: none;
  display: inline-block;
  color: #ffffff;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
  padding: 15px 23px 15px 23px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.1) inset;
  margin: 3px 0;
  text-decoration: none;
  font-weight: 600;
  font-size: 13px;
  background: #279dd7;
}

.submitButton:hover {
  opacity: 0.8;
  border: none;
}

.fieldLabel {
  font-size: 11px;
}

.formLabel {
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 2px;
  font-weight: 600;
  display: block;
  float: none;
  line-height: 1.3;
  margin: 4px 0 0;
  padding: 0;
  color: #777777;
  margin-bottom: 4px;
}

.icon {
  color: #aaaaaa;
  float: left;
}

.contactLine {
  padding-left: 45px;
  font-style: italic;
}

.addressContent {
  line-height: 2;
}

.emailLink {
  text-decoration: none;
  color: #279dd7;
}

.emailLink:active,
.emailLink:hover,
.emailLink:focus {
  outline: none;
}

.emailLink:hover {
  color: #777777;
  text-decoration: underline;
}

.logo {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

@media screen and (min-width: 940px) {
  .sectionTitle {
    font-size: 40px;
    letter-spacing: 3.5px;
  }
}

@media (min-width: 1400px) {
  .container.resize {
    max-width: 1140px;
  }
}

.inViewPort {
    visibility: visible;
    animation-name: slideInUp;
}

.outViewPort {
    visibility: visible;
    animation-name: none;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-iteration-count: 1;
}

@keyframes slideInUp {
    0% {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}