.service-item {
  background: #ffffff;
  padding: 30px;
  margin-bottom: 30px;
  position: relative;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  transition: all 100ms ease-out 0s;
}

.service-image {
  float: left;
  margin-right: 30px;
}

.service-content {
  overflow: hidden;
}

.service-title {
  margin-bottom: 0.625em;
  color: #333333;
  text-transform: uppercase;
}

.service-content p {
  margin: 0px;
  font-size: 14px;
  color: #777777;
}

.break,
.root h1,
.root h2,
.root h3,
.root h4,
.root h5,
.root h6 {
  word-break: break-word;
  word-wrap: break-word;
}

.animated {
  animation-name: slideInUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
