.root {
  background: #111111;
  color: #bbbbbb;
  font-size: 14px;
  font-size: 0.875em;
}

.root h5 {
  text-transform: uppercase;
  font-size: 0.9375em;
  font-weight: 700;
  clear: both;
  margin-top: 0;
}

.root a {
  text-decoration: none;
  outline: none;
}

.footerConnect {
  padding: 5em 0em;
  text-align: center;
}

.followHeading {
  color: #ffffff;
  margin-bottom: 20px;
  letter-spacing: 0.8px;
}

.footerSocial {
  text-align: center;
}

.footerSocial a {
  font-size: 30px;
  margin: 0px 13px;
  color: #ffffff;
}

.submitButton {
  margin: 0px;
  position: relative;
  top: 0px;
  padding: 16px 23px 16px;
  background: #279dd7;
  cursor: pointer;
  border: none;
  display: inline-block;
  color: #ffffff;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.1) inset;
  text-decoration: none;
  font-weight: 600;
  font-size: 13px;
  margin-left: 4px;
}

.subsInput {
  background-color: rgba(255, 255, 255, 0.145);
  color: #cccccc;
  border-bottom: none;
  box-shadow: none;
  padding: 12px 15px 12px;
  border-radius: 2px;
  width: 60%;
  font-size: 13px;

  max-width: 100%;
  border: 0px;
  font-weight: normal;
  line-height: 22px;
  box-sizing: border-box;
}

.siteInfo {
  position: relative;
  text-align: center;
  padding: 35px 0px;
  background: #222222;
  font-weight: 500;
  color: #bbbbbb;
}

.backToTop {
  border-radius: 0px 20px 0 0;
  color: #999999;
  font-size: 20px;
  /* font-size: 30px; */
  background: #222222;
  display: block;
  height: 50px;
  line-height: 50px;
  margin: auto;
  position: absolute;
  right: 60px;
  top: -25px;
  transition: all 0.2s linear 0s;
  width: 50px;
  z-index: 99;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

.btt a i {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  margin-left: 3px;
}

.btt a:hover {
  color: #279dd7;
}

@media screen and (max-width: 720px) {
  .footerConnect .subsInput {
    width: 100%;
    margin-bottom: 4px;
  }

  .footerConnect .submitButton {
    width: 100%;
  }
}

@media screen and (max-width: 940px) {
  .footerConnect .subsInput {
    width: 70%;
    margin-bottom: 4px;
  }

  .footerConnect .submitButton {
    width: 70%;
  }
}

@media screen and (max-width: 1250px) {
  .footerConnect .subsInput {
    width: 100%;
    margin-bottom: 4px;
  }

  .footerConnect .submitButton {
    width: 100%;
    margin: 0;
  }
}

@media (max-width: 767px) {
  .footerSubscribe {
    margin-bottom: 40px;
  }
}

@media (min-width: 1400px) {
  .container.resize {
    max-width: 1140px;
  }
}

@media screen and (max-width: 940px) {
  .btt a {
    right: 0;
    left: 0;
  }
}

.siteInfo a {
  color: #dddddd;
}

@keyframes flash {
  50%,
  0%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

.inViewPort {
  -webkit-animation-name: flash;
  animation-name: flash;
  visibility: visible;
}

.outViewPort {
  visibility: visible;
  animation-name: none;
}

.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-iteration-count: 1;
}