
.divider {
  width: 100%;
	height: 23px;
	background: url('/img/devider.png') no-repeat center center;
	margin: 5px 0 10px;
}

.title {
  text-transform: uppercase;
  font-weight: 700;
}

.lightText {
  color: #ffffff;
}