.root {
  color: #777777;
  line-height: 1.7;
  font-size: 16px;
}

@media (max-width: 991px) {
  .root {
    font-size: 15px;
  }
}

@media (max-width: 767px) {
  .root {
    font-size: 14px;
  }
}

.main {
  margin-top: 200px;
}